@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Tangerine:wght@400;700&display=swap');

html,
body {
  font-family: 'Courgette', cursive;
  height: 297mm;
  margin: 0 auto;
  width: 210mm;
}

p {
  margin: 0;
}

main {
  background: #fefff9;
  border: 1px solid #ccc;
  height: 100%;
  padding: 96px;
}

.intro {
  color: #000;
  text-align: center;
}

.guest-name {
  color: #000;
  font-family: 'Tangerine', cursive;
  font-size: 4em;
  padding: 0.5em 0;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
