@import 'Constants';

@import 'pages/1-Index';
@import 'pages/2-Lists';
@import 'pages/3-Rules';

html,
body {
  font-family: $font-body;
  margin: 0;
  padding: 0;
}

div#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  background: $color-border;
  border: 24px solid $color-border;
  height: 297mm;
  overflow-x: hidden;
  position: relative;
  width: 210mm;

  div.main {
    background: $color-body;
    border-radius: 30px;
    height: 100%;
  }
}

h1 {
  margin: 0;
}

p {
  color: #000;
  font-size: 1.5em;
  margin: 0;
}

img.signature {
  bottom: 10px;
  max-height: 110px;
  position: absolute;
  right: 10px;
}

img.waves {
  left: 0;
  max-height: 300px;
  position: absolute;
  top: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
