@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Style+Script&family=Tangerine:wght@400;700&family=Poppins:wght@400;700&display=swap');

$font-body: 'Courgette', cursive;
$font-headline: 'Style Script', cursive;
$font-name: 'Tangerine', cursive;
$font-info-body: 'Poppins', sans-serif;

$color-body: #fcffec;
$color-border: #d9d497;
