main.index {
  @include pager($color-body-index);
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  section {
    padding: 1em 0;
  }

  div.signature {
    @include signature-color($color-body-index);
  }
}

div.banner {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;

  svg {
    $color: get-border($color-body-index);
    fill: $color;
    height: 100%;
    stroke: $color;
    stroke-width: 5;
    width: 100%;
  }
}

h1.guest-name {
  font-family: $font-name;
  font-size: 5em;
  font-weight: bold;
  padding: 0.3em 0;
  text-align: center;
}

p.guest-tagline {
  font-family: $font-body;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

h1.headline {
  font-family: $font-headline;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.4em 0;
  text-align: center;
}
