main.index {
  @include border($color-body-index, 40%);
  @include pager($color-body-index);
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3em 4em;
  }

  section {
    padding: 1em 0;
  }

  div.signature {
    @include signature-color($color-body-index);
  }
}

figure.banner {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  svg {
    $color: rgba(0, 0, 0, 0.9);
    fill: $color;
    height: 100%;
    stroke: $color;
    stroke-width: 8;
    width: 100%;
  }
}

figure.banner-bottom {
  transform: scaleY(-1);
}

p.guest-intro {
  font-size: 1.1em;
}

h1.guest-name {
  font-family: $font-guest;
  font-size: 5em;
  font-weight: bold;
  padding: 0.1em 0;
  text-align: center;
  transform: none;
}

p.guest-tagline {
  font-family: $font-subheading;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

h1.headline {
  font-family: $font-headline;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.3em 0;
  text-align: center;
}

p.headline-intro {
  font-size: 1.1em;
  margin-bottom: 1em;
}

p.address {
  font-family: $font-subheading;
}
