main.lists {
  @include pager($color-body-lists);
  font-family: $font-info-body;
  
  > div {
    padding: 3em;
  }

  h2 {
    font-family: $font-body;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
  }

  a {
    color: #00f;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    line-height: 1.7;
    padding-bottom: 1em;
  }

  strong.wlid {
    color: #00f;
    font-family: $font-body;
    font-size: 1.1em;
    font-weight: bold;
  }

  div.signature {
    @include signature-color($color-body-lists);
  }
}
