main.lists {
  @include border($color-body-lists, 25%);
  @include pager($color-body-lists);
  font-family: $font-body;
  
  > div {
    padding: 3.5em 4em;
  }

  h2 {
    font-family: $font-subheading;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
  }

  a {
    color: #00f;
    display: inline-flex;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    line-height: 1.75;
    padding-bottom: 1em;
  }

  strong.wlid {
    color: get-border($color-body-lists, -50%);
    font-family: $font-body;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  table.account-details {
    width: 100%;

    tbody {
      text-align: center;
    }
    // display: flex;
    // justify-content: center;
  }

  div.signature {
    @include signature-color($color-body-lists);
  }
}
