main.notices {
  @include pager($color-body-notices);
  font-family: $font-info-body;

  > div {
    padding: 1em;
  }

  ol li {
    font-size: 1.2em;
    line-height: 1.7;
    padding: 0.3em 0.5em;
  }

  div.signature {
    @include signature-color($color-body-notices);
  }
}
