main.agenda {
  @include border($color-body-agenda);
  @include pager($color-body-agenda);
  font-family: $font-body;

  > div {
    padding: 4em;
  }

  div.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }

  h1 {
    margin: -0.4em 0;
  }

  ol {
    list-style-type: none;
  }

  ol li {
    font-family: $font-subheading;
    font-size: 2em;
    font-weight: bold;
    margin: 0.6em 0;
  }
}
