main.motivation {
  @include border($color-body-motivation, 49.5%);
  @include pager($color-body-motivation);
  display: flex;
  font-family: $font-body;
  justify-content: center;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4em;
    width: 100%;
  }

  h1 {
    letter-spacing: 1px;
    line-height: 1.2;
    transform: scaleX(1.2);
  }

  p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-top: 1em;
    max-width: 500px;
    text-align: center;
  }

  p:first-child {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
  }

  svg.signature {
    $color: get-border($color-body-motivation, -65%);
    bottom: 0;
    fill: $color;
    max-width: 120px;
    position: absolute;
    right: 15%;
    stroke: $color;
    stroke-width: 3;
  }
}
