main.menu {
  @include pager($color-body);
  font-family: $font-info-body;

  div {
    padding: 3em;
  }

  table {
    border-spacing: 0.5em;

    td.menu-key {
      font-weight: bold;
      min-width: 50px;
      text-align: center;
      vertical-align: top;
    }
  }
}
