<main class="info">
  <section>
    <ol class="rules">
      <% rules.forEach((rule) => { %>
      <li>
        <strong><%= rule.summary %>:</strong>
        <span><%= rule.description %></span>
      </li>
      <% }); %>
    </ol>
  </section>

  <%- include('/partials/footer.ejs', { signature}) %>
</main>
