main.index {
  $primary-dark: get-border($color-body-index, -85%);

  @include border($color-body-index, 40%);
  @include pager($color-body-index);
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3em 4em;
  }

  section {
    padding: 1em 0;
  }

  figure.banner {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;

    svg {
      $color: $primary-dark;
      fill: $color;
      height: 100%;
      stroke: $color;
      stroke-width: 8;
      width: 100%;
    }
  }

  figure.banner-bottom {
    transform: scaleY(-1);
  }

  p.guest-intro {
    font-size: 1.1em;
  }

  h1.guest-name {
    font-family: $font-guest;
    font-size: 5em;
    font-weight: bold;
    margin: 0 auto;
    max-width: 550px;
    padding: 0.2em 0;
    text-align: center;
    transform: none;
  }

  p.guest-tagline {
    font-family: $font-subheading;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
  }

  h1.headline {
    color: $primary-dark;
    font-family: $font-headline;
    font-size: 5em;
    font-weight: 100;
    line-height: 1;
    padding: 0.3em 0;
    text-align: center;
  }

  p.headline-intro {
    color: $primary-dark;
    font-size: 15px;
    margin-bottom: 1em;
  }

  section.address {
    font-family: $font-subheading;

    time,
    address {
      color: #000;
      font-size: 1.2em;
      font-style: normal;
    }

    small {
      align-items: flex-end;
      display: inline-flex;
      margin-top: 0.6em;
    }

    a {
      color: $primary-dark;
      font-family: $font-body;
      font-size: 13px;
    }
  }

  svg.marker {
    margin: 0 0.3em;
  }
}
