<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title>Birthday Invite Generator</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <main class="info">
        <section>
          <ol class="rules">
            <li>
              I'm not branding this a party because it's technically not one. I
              don't want this event to be saturated with all the expectations
              that come with a party.
            </li>
            <li>
              I'm paying for everything. You just have to show up looking good.
            </li>
            <li>Plus ones are NOT permitted.</li>
            <li>
              If you don't want to come because it's too much effort to make it
              to the location, or because you're not familiar with many others
              on the guest list, that's absolutely fine.
            </li>
            <li>
              If you plan on turning up more than 15mins late, stay at home.
              Don't bother yourself. Really.
            </li>
          </ol>
        </section>

        <footer>
          <img src="<%= signature %>" class="signature" />
        </footer>
      </main>
    </div>
  </body>
</html>
