<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Birthday Invite Generator</title>
    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <main class="info">
        <section>
          <ol class="rules">
            <% rules.forEach((rule) => { %>
            <li>
              <strong
                ><a
                  href="https://docs.google.com/spreadsheets/d/1-_75ohjtqn3IG8FC9CEZCJpUOjJmKb-PsHt0a7FC88M/edit?usp=sharing"
                  ><%= rule.summary %>:</a
                ></strong
              >
              <span><%= rule.description %></span>
            </li>
            <% }); %>
          </ol>
        </section>

        <footer>
          <img src="<%= signature %>" class="signature" />
        </footer>
      </main>
    </div>
  </body>
</html>
