@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Style+Script&family=Tangerine:wght@400;700&family=Poppins:wght@400;700&display=swap');

html,
body {
  font-family: 'Courgette', cursive;
  margin: 0;
}

div#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  background: #fefff9;
  border: 24px solid #ebede5;
  height: 297mm;
  position: relative;
  width: 210mm;
}

h1 {
  margin: 0;
}

p {
  color: #000;
  font-size: 1.5em;
  margin: 0;
}

section {
  padding: 1em 0;
}

img.signature {
  bottom: 10px;
  max-height: 110px;
  position: absolute;
  right: 10px;
}

/*****************
* GUESTS
*****************/

main.guests {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

h1.headline {
  font-family: 'Style Script', cursive;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.4em 0;
  text-align: center;
}

h1.guest-name {
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  font-weight: bold;
  padding: 0.3em 0;
  text-align: center;
}

p.guest-tagline {
  font-family: 'Courgette', cursive;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

/*****************
* INFORMATION
*****************/

main.info {
  font-family: 'Poppins', sans-serif;
  padding: 1.5em;
}

ol.rules li {
  font-size: 1.3em;
  padding: 0.3em 0.5em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
