# all
**/node_modules
**/.next
**/.eslintcache
**/.env
**/.cache.json
**/.dist
**/dist
**/.out
**/css
**/.yarn/*
!**/.yarn/releases

# site
**/site/fonts/*
!**/site/fonts/.gitkeep

# test
**/.coverage

# projects & utils
**/utils/key.json

# other
**/.DS_Store
*.log