# all
**/node_modules
**/.next
**/.env
**/.dist
**/dist
**/.out
**/css
**/.yarn/*
!**/.yarn/releases

# site
**/site/fonts/*
!**/site/fonts/.gitkeep

# test
**/.coverage

# projects & utils
**/utils/key.json
**/projects/**/.cache.json
**/projects/v2/*.txt

# other
**/.DS_Store
*.log