# all
**/node_modules
**/.env
**/.dist
**/css
**/.yarn/*
!**/.yarn/releases

# site
**/site/.next/
**/site/fonts/*
!**/site/fonts/.gitkeep

# test
**/.coverage

# projects & utils
**/utils/key.json
**/projects/**/.cache.json
**/projects/**/.out

# other
**/.DS_Store
*.log