main.info {
  @include border($color-body-info, 30%);
  @include pager($color-body-info);
  font-family: $font-body;

  > div {
    padding: 4em;
  }

  h1 {
    margin: -0.6em -0.2em 0;
  }

  h2 {
    font-family: $font-subheading;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
  }

  a {
    color: #00f;
    display: inline-flex;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    line-height: 1.75;
    margin-bottom: 1em;
  }

  small {
    display: block;
    font-size: 0.9em;
    padding-top: 1em;
  }
}
