<main class="index">
  <div>
    <section>
      <div class="guest">
        <p class="guest-intro">An invitation to:</p>
        <h1 class="guest-name"><%= guest.name %></h1>
      </div>
    </section>
  </div>
</main>
