<main class="index">
  <%- include('/images/border.svg') %>
  <div>
    <section>
      <div class="guest">
        <h3 class="guest-intro">An invitation to</h3>
        <h1 class="guest-name"><%= guest.name %></h1>
        <hr>
      </div>
    </section>
    <section>
      <div class="headline">
        <hr>
        <h3 class="cordial">You are cordially invited to</3>
        <h2 class="event-headline">Marianne's<br>25th</h2>
        <hr>
      </div>
    </section>
    
    <section>
      <div class="address">
        <h3>40 Impala Drive <br>
        Cambridge <br>
        Cambridgeshire<br> CB1 9XL</h3>
      </div>
    </section>
    
  </div>
</main>
