<main class="info">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <h1>Information</h1>

    <section>
      <h2>Event Calendar</h2>
      <p>
        Tap the following
        <a
          target="_blank"
          href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=dG1uYjNoZHZmYThrZjRqZ29tdjFpcDJmYzQgemF2aWRlZ2J1ZUBt&amp;tmsrc=zavidegbue%40gmail.com"
        >
          calendar event
          <span class="icon"><%- include('svg/hyperlink.svg') %></span>
        </a>
        to add this event to your calendar. I'd advise you set notification
        reminders for both 1 week and 2 days before the event.
      </p>
    </section>

    <section>
      <h2>Dress Code</h2>
      <p>
        GLAM, baby. Gala vibes. Evening attire. Dinner ball visuals. Elegant
        dresses. High heels. Lavish shirts. Deluxe tuxes. Voguish jumpsuits.
        African couture. Whatever's your panache. Capisce?
      </p>
    </section>

    <section>
      <h2>Parking</h2>
      <p>
        There is a secure underground car park on-site. 50 available spaces
        which cannot be reserved. Just a good reason for you to be on time.
        Parking is discounted at <strong>£7.00</strong> for banquet guests.
      </p>
    </section>

    <section>
      <h2>Accommodation</h2>
      <p>
        You can book double bedrooms at
        <a
          href="https://www.claytoncrownhotel.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Clayton Crown Hotel<span class="icon"
            ><%- include('svg/hyperlink.svg') %></span
          ></a
        >
        to stay the night before, after or both. Guests attending my birthday
        can get discounted prices with a code to book with. You'll need to book
        before <strong>Thursday 11th November</strong>.
      </p>
      <p>
        Reach out to me for the discount code. Spaces are limited, and I'll be
        prioritising non-Londoners coming from outer city.
      </p>
    </section>
  </div>
</main>
