@import './Constants';

@import './Home';
@import './Design';

* {
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  height: 100%;
  margin: 0;
  // overflow: hidden;
  padding: 0;
}

div#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  height: 100px;
  position: relative;
  width: 100%;
}

.site-logo {
  cursor: pointer;
  padding: 0.5em !important;
}
