@import './Constants';

@import './Design/Editor';
@import './Design/Setup';
@import './Payment';

* {
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
}

div#__next {
  height: 100%;
  position: relative;
}

header.app {
  background-color: $color-transparent;
  display: flex;
  height: 70px;
  justify-content: center;
  margin-top: -70px;
  padding: 0.5em;
  position: sticky;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 2;

  div.container {
    @extend %container;
  }

  nav.header {
    @extend %nav;
    justify-content: flex-end;
  }
}

footer.app {
  background-color: $color-primary-4-dark;
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 100%;
  z-index: 1;

  div.container {
    @extend %container;
  }

  nav.footer {
    @extend %nav;
  }
}

.logo {
  cursor: pointer;
  transition: all 0.3s;
}
