main.design {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

aside.controls {
  background-color: $color-background;
  flex: 0 0 auto;
  max-width: 250px;
  padding: 1em;

  section.design-form {
    padding: 1em 0;

    div.form-field {
      padding: 0.5em 0;
    }

    div.form-field label {
      display: block;
      padding: 5px 0;
    }

    input[type='number'],
    select {
      @extend %input;
    }
  }
}

section.preview {
  align-items: center;
  background-color: $color-body;
  border-left: 2px solid $color-primary-3;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
  position: relative;

  canvas {
    max-height: 100%;
    max-width: 100%;
  }

  div.drag-zone {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
  }

  div.draggable {
    border: 2px dashed transparent;
    border-radius: 2px;
    cursor: move;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: border 0.2s ease;
    user-select: none;
    width: 100%;

    &--selected {
      border: 2px dashed #ccc;
    }
  }

  svg.resize-handle {
    cursor: ew-resize;
    margin: -1em;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;

    &--selected {
      opacity: 1;
      visibility: visible;
    }

    &-east {
      align-self: flex-end;
    }

    &-west {
      align-self: flex-start;
    }
  }

  svg.resize-handle circle {
    fill: #00a6ff;
  }
}

aside.namelist {
  background-color: $color-background;
  border-left: 5px solid $color-primary-4-dark;
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  overflow-y: scroll;

  button.name-button {
    @extend %button;
    @include buttonize($color-button);
    align-items: center;
    color: #fff;
    column-gap: 20px;
    display: grid;
    flex: 1 1 auto;
    font-size: 14px;
    grid-template-columns: 20px 1fr;
    min-height: 70px;
    padding: 0.5em;
    transition: all 0.3s ease;
    width: 100%;

    span.index {
      text-align: right;
    }

    span.name {
      text-align: left;
    }
  }
}

dialog.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
}
