main.home {
  background-color: $color-primary-1-dark;
}

section.cover {
  align-items: center;
  color: $color-white;
  display: flex;
  height: 750px;
  justify-content: center;
  position: relative;

  figure.video {
    $clip-path: 'M0 0 0 700C279 604 443 626 667 655S1179 770 1440 650V0H0';
    background-color: #433a37;
    clip-path: path($clip-path);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  video {
    filter: blur(4px);
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    opacity: 0.25;
    z-index: 0;
  }

  div {
    text-align: center;
    z-index: 1;
  }

  h1 {
    font-size: 40px;
    margin: 0;
    max-width: 600px;
    text-align: center;
  }

  button {
    @extend %button;
    @include buttonize($color-primary-4-dark, $hover: $color-primary-4-light);
    border-radius: 10px;
    box-shadow: 0 0 3px 0 $color-black;
    color: $color-white;
    font-size: 20px;
    margin: 1em 0;
    min-width: 200px;
    padding: 1em;
  }
}

section.overview {
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 2em;

  div.container {
    @extend %container;
    flex-direction: column;
  }

  article {
    align-items: center;
    display: flex;
    margin: 3em 0;
    width: 100%;

    &:nth-child(2) {
      flex-direction: row-reverse;
      text-align: right;
    }

    div {
      margin: 1em 2em;
    }

    h3 {
      font-size: 2em;
      margin: 0;
      max-width: 500px;
      width: 100%;
    }

    p {
      font-size: 1.5em;
      line-height: 150%;
      margin: 0.5em 0;
      max-width: 500px;
      width: 100%;
    }
  }
}

.font-icon {
  color: $color-primary-4-dark;
}
