main.home {
  background-color: $color-body;
}

section.cover {
  align-items: center;
  background: rgb(95, 16, 7);
  background: linear-gradient(
    180deg,
    $color-primary-4 0%,
    $color-primary-4-light 100%
  );
  color: $color-white;
  display: flex;
  justify-content: center;
  min-height: 300px;

  div {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    max-width: 600px;
    text-align: center;
  }
}

svg.wave {
  max-height: 250px;

  path {
    fill: $color-primary-4-light;
  }
}

section.content {
  background-color: $color-background;
  border-radius: 10px;
  max-width: 400px;
  padding: 1.5em 2em;

  textarea {
    border-radius: 10px;
    border-style: none;
    padding: 0.5em;
    width: 100%;
  }

  div.file-selector-container {
    margin: 1.5em 0;
  }

  label.file-selector {
    $color: $color-primary-3;
    @include buttonize($color);
    border-radius: 10px;
    color: $color-white;
    cursor: pointer;
    padding: 1em;
    transition: all 0.3s ease;
    user-select: none;
  }

  button {
    @extend %button;
    @include buttonize($color-button);
    border-radius: 10px;
    color: $color-white;
    font-size: 16px;
    margin: 1em 0;
    min-width: 100px;
    padding: 1em;
  }
}
