main.home {
  background-color: $color-body;
}

section.cover {
  align-items: center;
  background: rgb(95, 16, 7);
  background: linear-gradient(
    180deg,
    $color-primary-4 0%,
    $color-primary-4-light 100%
  );
  color: $color-white;
  display: flex;
  justify-content: center;
  min-height: 300px;

  div {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    max-width: 600px;
    text-align: center;
  }

  button {
    @extend %button;
    @include buttonize($color-primary-4-dark);
    border-radius: 10px;
    box-shadow: 0 0 2px 0 $color-black;
    color: $color-white;
    font-size: 20px;
    min-width: 200px;
    padding: 1em;
  }
}

svg.wave {
  max-height: 250px;

  path {
    fill: $color-primary-4-light;
  }
}
