<main class="rsvp">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <section>
      <h1>R.S.V.P. by<br />Saturday 30th October</h1>
      <p>
        Message me confirmation of your attendance as well as any dietary
        requirements you may have. I await your response and look forward to
        seeing you on the night if you're coming.
      </p>
      <p>Peace and love.</p>
      <%- include('svg/signature.svg') %>
    </section>
  </div>
</main>
