@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Style+Script&family=Tangerine:wght@400;700&family=Poppins:wght@400;700&display=swap');

$font-headline: 'Style Script', cursive;
$font-guest: 'Tangerine', cursive;

$font-subheading: 'Courgette', cursive;
$font-body: 'Poppins', sans-serif;

$delta: -30%;

$color-body-index: #fcffeb;
$color-body-info: adjust-hue($color-body-index, $delta);
$color-body-lists: adjust-hue($color-body-info, $delta);
$color-body-notices: adjust-hue($color-body-lists, $delta);
$color-body-menu: adjust-hue($color-body-notices, $delta);
