
/// Creates a new main page.
/// @param $color The colour of the page body.
@mixin pager($color) {
  $border-color: adjust-color(
    $color,
    $hue: -10%,
    $saturation: -50%,
    $lightness: -20%
  );

  background: $border-color;
  border: 24px solid $border-color;
  height: 297mm;
  overflow-x: hidden;
  position: relative;
  width: 210mm;

  > div {
    background: $color;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;
  }
}
