<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title>Birthday Invite Generator</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <%- include('/pages/1-main.ejs', { guest, images }) %>
      <%- include('/pages/2-information.ejs', { rules, images, lists }) %>
    </div>
  </body>
</html>
