section.preview {
  overflow-y: scroll;
}

ul.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

li.table {
  border: 1px solid #000;
  border-radius: 30%;
  height: 150px;
  list-style-type: none;
  margin: 1em;
  position: relative;
  width: 200px;
}

ul.table-guests {
  padding: 1em;
  padding-inline-start: 1em;
  width: fit-content;
}

li.table-guest {
  font-size: 0.6em;
  list-style-type: none;
  width: fit-content;
}

label.table-label {
  bottom: -20px;
  font-size: 0.8em;
  font-weight: bold;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
}
