<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= guest.name %> | Marianne | Ziventi</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="<%= fontsUrl %>"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="root"><%- include('/templates/pages/1-index.ejs') %></div>
  </body>
</html>
