<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= guest.name %> | Marianne | Ziventi</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <%- include('/templates/pages/1-index.ejs') %>
    </div>
  </body>
</html>
