body {
  margin: 0 auto;
  height: 1056px;
  width: 768px;
}

#root {
  border: 1px solid #ccc;
  height: 100%;
  padding: 96px;
}

.invite__intro {
  text-align: center;
}

.invite__guest {
  font-family: 'Tangerine', cursive;
  font-size: 4em;
  padding: 0.5em 0;
  text-align: center;
}
