<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title>Birthday Invite Generator</title>

    <link rel="stylesheet" href="../src/styling/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="root">
      <div class="invite__intro">You are cordially invited to</div>
      <div class="invite__guest"><%= guest.name %></div>
    </div>
  </body>
</html>
