<main class="info">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <h1>Information</h1>

    <section>
      <h2>Dress Code</h2>
      <p>
        GLAM, baby. Gala vibes. Evening attire. Dinner ball visuals. Elegant
        dresses. High heels. Lavish shirts. Deluxe tuxes. Voguish jumpsuits. Whatever's your
        panache. Capisce?
      </p>
    </section>

    <section>
      <h2>Parking</h2>
      <p>
        There is an on-site secure underground car park available but the spaces
        aren't reserved. Just a good reason for you to be on time, if you ask
        me.
      </p>
    </section>

    <section>
      <h2>Points of Contact</h2>
      <ul>
        <li><a href="tel:<%= contacts.Bola %>">Bola Sunday-Martins</a></li>
        <li><a href="tel:<%= contacts.Chidera %>">Chidera Onyeukwu</a></li>
        <li><a href="tel:<%= contacts.Deborah %>">Deborah Owusu-Ansah</a></li>
      </ul>
    </section>
  </div>
</main>
