<main class="lists">
  <div class="main">
    <section>
      <h2>Guest List</h2>
      <p>
        It'd make sense for you to check the guest list so you're aware of
        anybody you can tag along with to the event. Always nice to know who's
        coming, right?
      </p>
      <p>
        Tap the following link for the full
        <a href="<%= lists.guest %>" target="_blank" rel="noopener noreferrer"
          >guest list</a
        >. I appreciate your wisdom and discretion in keeping it to yourself.
      </p>
    </section>
    <section>
      <h2>Wish List</h2>
      <p>
        I don't receive gifts often so I'm not expectant; you're under no
        obligation to give. But I recognise that some of you are strong, loving
        givers. I'd be honoured to provide an opportunity for you to express
        your love.
      </p>
      <p>
        Tap the following link for my
        <a href="<%= lists.wish %>" target="_blank" rel="noopener noreferrer"
          >wish list</a
        >.
      </p>
      <p>
        To prevent a case where I receive multiple gifts of something I only
        need one of, I ask that you assign yourself to an item if you are
        purchasing off the wish list. Additionally, to ensure buyers remain
        anonymous, please use your unique wish list ID which I have assigned to
        you when assigning yourself to an item.
      </p>
      <p>
        <strong>Your anonymous wish list ID is:</strong><br />
        <strong class="wlid"><%= guest.wlid %></strong>
      </p>
    </section>
    <section>
      <h2>Donations</h2>
      <a href="https://www.paypal.com/paypalme/zzavidd" target="_blank" rel="noopener noreferrer">Hello</a>
    </section>
  </div>
  <%- include('/templates/partials/footer.ejs') %>
</main>
