<main class="notices">
  <%- include('/templates/partials/header.ejs') %>
  <div class="main">
    <section>
      <ol class="notices">
        <% resources.notices.forEach((rule) => { %>
        <li>
          <strong><%= rule.summary %>:</strong>
          <span><%= rule.description %></span>
        </li>
        <% }); %>
      </ol>
    </section>
  </div>
</main>
