<main class="rules">
  <div class="main">
    <section>
      <ol class="rules">
        <% rules.forEach((rule) => { %>
        <li>
          <strong><%= rule.summary %>:</strong>
          <span><%= rule.description %></span>
        </li>
        <% }); %>
      </ol>
    </section>
  </div>

  <%- include('/partials/footer.ejs', { images }) %>
</main>
