<main class="notices">
  <%- include('/templates/partials/header.ejs') %>
  <div class="main">
    <section>
      <h1>Notices</h1>
      <dl class="notices">
        <% resources.notices.forEach((rule, key) => { %>
        <dt>
          <table>
            <tr>
              <td>#<%= key + 1 %>)</td>
              <td><%= rule.summary %></td>
            </tr>
          </table>
        </dt>
          <dd><%= rule.description %></</dd>
        <% }); %>
          </dl>
    </section>
  </div>
</main>
