<main class="agenda">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <h1>Agenda</h1>
    <div class="main">
      <section>
        <dl>
          <% resources.agenda.forEach((item, key) => { %>
          <dt><%= item.title %></dt>
          <dd><%= item.description %></dd>
          <% }); %>
        </dl>
      </section>
      <section>
        <p>
          * If you wish to make a speech / tribute on the night, simply message
          my sister <a href="tel:<%= contacts.Deborah %>">Deborah</a> and let
          her know between now and the date of the event. I won't be aware of
          anybody who contacts her until the day.
        </p>
      </section>
    </div>
  </div>
</main>
