<main class="agenda">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <section>
      <h1>Agenda</h1>
      <ol>
        <li>Arrivals</li>
        <li>Icebreakers</li>
        <li>Dining</li>
        <li>Speeches</li>
        <li>Vibes</li>
      </ol>
    </section>
  </div>
</main>
