<main class="rsvp">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <h1>Please R.S.V.P. by<br />Saturday 30th October</h1>
    <section>
      <h2>Points of Contact</h2>
      <p>
        Closer to the date, it would be much less stressful if the multitude of
        you were not all hounding me at once. For any questions or enquiries,
        please contact one of the following three of my most trusted friends:
      </p>
      <ul class="contacts">
        <li>
          <span class="icon">&#128242;</span>
          <a href="tel:<%= contacts.Bola %>">Bola Sunday-Martins</a>
        </li>
        <li>
          <span class="icon">&#128242;</span>
          <a href="tel:<%= contacts.Chidera %>">Chidera Onyeukwu</a>
        </li>
        <li>
          <span class="icon">&#128242;</span>
          <a href="tel:<%= contacts.Deborah %>">Deborah Owusu-Ansah</a>
        </li>
      </ul>
    </section>
  </div>
</main>
