<main class="motivation">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <section>
      <p>This is an optional read.</p>
      <p>But if you insist...</p>
      <p>
        The motivation behind this event is that I haven't, by myself, chosen to
        celebrate anything per se for the past seven years. Celebrations have
        happened in some form or another but only because friends have stepped
        up to show love when I wouldn't do so for myself.
      </p>
      <p>
        I've met, marked, and made memories with so many beautiful people over
        the past seven years. Some who continue to frequent my life today, many of whom I
        remember from time to time and would love to see once more.
      </p>
      <p>
        This isn't me throwing something big because it's my 25th. It's me using my
        25th as a good excuse to finally bring everyone I want in the same place
        now that I finally have both the gonads and the means to do so.
      </p>
    </section>
    <%- include('/images/signature.svg') %>
  </div>
</main>
