<main class="info">
  <div class="main">
    <h1>Information</h1>
    <a href="tel:+447767989277">Call Jane Twum</a>

    <section>
      <p>Dress Code: GLAM</p>
    </section>

    <section>
      <h2>Points of Contact</h2>
      <p>Dress Code: GLAM</p>
    </section>
  </div>

  <%- include('/partials/footer.ejs', { images }) %>
</main>
