<div
  style="
    background-image: url('../images/ziventi-logo.svg'), url('http://localhost:3333/svg/ziventi-logo.svg');
    background-repeat: space;
    background-size: 200px;
    position: fixed;
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  "
></div>
