@import 'Constants';
@import 'pages/1-Index';

svg.border {
  fill: $color-border;
  position: absolute;
}

h1 {
  font-family: $font-guest-name;
  font-size: 4em;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: $font-body;
  font-weight: bold;
}

h3 {
  font-family: $font-address;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  color: #000;
  font-family: $font-body;
  font-size: 1.5em;
  margin: 0;
  position: relative;
}

section {
  overflow-wrap: anywhere;
}

////////////////////
//// Boilerplate
////////////////////

html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

div#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  position: relative;
  z-index: 5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
