@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Style+Script&family=Tangerine:wght@400;700&family=Poppins:wght@400;700&display=swap');

$font-headline: 'Style Script', cursive;
$font-guest: 'Tangerine', cursive;

$font-subheading: 'Courgette', cursive;
$font-body: 'Poppins', sans-serif;
