<table>
  <% Object.entries(menuSection).forEach(function ([menuKey, menuItem]) { %>
  <tr>
    <td class="menu-key">(<%= menuKey %>)</td>
    <td class="menu-item"><%= menuItem %></td>
  </tr>
  <% }); %>
</table>
