aside.controls {
  background-color: $color-background;
  border-right: 4px solid $color-primary-4-dark;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 290px;
  user-select: none;

  header {
    background-color: $color-primary-4-dark;
    display: flex;
    height: 50px;
    padding: 1em;
    position: relative;
    width: 100%;
  }

  section.main {
    @include scrollbar($color-primary-1-dark);
    padding: 1em 1.5em;
  }

  section.design-form {
    margin-bottom: 1em;

    div.form-field-row {
      display: flex;
      justify-content: space-between;
    }

    div.form-field {
      flex: 1;
      padding: 0.5em 0;
    }

    div.form-field label {
      display: block;
      padding: 5px 0;
    }

    button.color-thumbnail {
      border-radius: 3px;
      border-style: none;
      box-shadow: 0 0 1px 1px transparentize($color-primary-5-light, 0.9);
      cursor: pointer;
      height: 35px;
      width: 100%;
    }

    div.color-picker {
      position: absolute;
      z-index: 1;
    }

    input.number,
    select,
    textarea {
      @extend %input;
      font-size: 16px;
      padding: 0.5em;
    }

    input.number {
      border-radius: 10px 0 0 10px;
    }

    input.number-suffix {
      @extend %input;
      border-left: 2px solid $color-primary-1;
      border-radius: 0 10px 10px 0;
      color: rgb(59, 59, 59);
      cursor: default;
      font-size: 16px;
      margin: -0.1em;
      padding: 0.5em 0.2em;
      user-select: none;
      width: 30px;

      &:focus {
        outline-width: 0;
      }

      &--focus {
        outline-offset: 0;
        outline-style: auto;
        outline-width: 1px;
      }
    }

    select.font-style {
      width: 170px;
    }
  }

  button:not(.color-thumbnail) {
    @extend %button;
    margin: 0.3em 0;
    width: 100%;
  }

  button#preview {
    @include buttonize($color-primary-2-dark);
  }

  button#pay {
    @include buttonize($color-primary-2);
  }

  button#download-png {
    @include buttonize($color-primary-5-light);
  }

  button#download-pdf {
    @include buttonize($color-primary-5);
  }

  button#download-png-archive {
    @include buttonize($color-primary-3);
  }

  button#download-pdf-archive {
    @include buttonize($color-primary-4);
  }
}
