$font-guest-name: 'Tangerine', cursive;
$font-body: 'Courgette', cursive;
$font-address: 'Montserrat', sans-serif;
$font-headline: 'Playball', cursive;

$color-background: #fff0d5;
$color-border: #b99f74;
